:host {
  --biber-duration: 6s;
}

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:host ::ng-deep app-biber {
  position: absolute;
  left: -10%;
  width: 64px;
  animation: walk var(--biber-duration) linear forwards;
}

@keyframes walk {
  0% { left: -10%; }
  100% { left: 100%; }
}
